h1 {
    padding: 20px;
}

.container {
    padding: 20px;
    justify-content: center;
}

canvas {
    border: 1px solid red;
    height: 300px;
    width: 200px;
}

.player, .enemy {
    border: 2px solid green;

}

.characters {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
