h1 {
	padding: 20px;
}

.container {
	display: flex;
	gap: 50px;
	padding: 20px;
	justify-content: center;
	padding-bottom: 50px;
}

canvas {
	border: 1px solid red;
	height: 300px;
	width: 200px;
}

.player,
.enemy {
	border: 2px solid green;
}

.characters {
	display: flex;
	gap: 50px;
	justify-content: center;
	flex-wrap: wrap;
}
