h1 {
	padding: 6px;
}

.container {
	display: flex;
	gap: 50px;
	/* padding: 20px; */
	justify-content: center;
	padding-bottom: 30px;
}

canvas {
	border: 1px solid white;
	border-radius: 5px;
	height: 300px;
	width: 200px;
}

.characters {
	display: flex;
	gap: 50px;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 23px;
}
body {
	padding-bottom: 56px;
}
